// COLORS
$color-primary: #f7f7f7;
$color-primary-light: #e7e7e7;
$color-primary-dark: #484848;

$color-white: #fff;
$color-black: #000;

$color-secondary-dark: #0a1b26;

$color-grey-dark: #777;

// FONT
$default-font-size: 1.6rem;
$h2: 2.8rem;
$p: 1.4rem;
