#connect {
  padding: 10rem 0;
  .wrapper {
    display: flex;
    justify-content: space-between;
    @include responsive(tab-mid) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .left-side {
      h2 {
        max-width: 32rem;
        font-size: $h1;
        border-bottom: 0.2rem solid $color-primary-light;
        font-weight: 100;
        color: $color-primary-dark;
        text-align: left;
        @include responsive(tab-mid) {
          text-align: center;
          margin: 0 auto 1rem;
        }
      }
      p {
        margin-top: 1rem;
        font-size: $p;
        @include responsive(tab-mid) {
          text-align: center;
          margin: 1rem auto;
        }
      }
    }
    .right-side {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      & p:not(:last-child) {
        margin-right: 1rem;
      }
      p {
        border: solid 0.2rem $color-secondary-dark;

        border-radius: 30%;
        @include responsive(tab-mid) {
          text-align: center;
          margin: 1rem auto 0;
        }

        i {
          text-align: center;
          padding: 1.2rem;
          font-size: $h2;
          min-width: 4.5rem;
          min-height: 4.5rem;
        }
      }
    }
  }
}
