#connect {
  padding: 10rem 0;
  @include responsive(phone) {
    padding: $padding 0;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    @include responsive(tab-mid) {
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .left-side {
      h2 {
        max-width: 32rem;
        font-size: $h1;
        border-bottom: 0.2rem solid $color-primary-light;
        font-weight: 100;
        color: $color-primary-dark;
        text-align: left;
        @include responsive(tab-mid) {
          text-align: center;
          margin: 0 auto 1rem;
        }
      }
      p {
        margin-top: 1rem;
        font-size: $h2;
        @include responsive(tab-mid) {
          text-align: center;
          margin: 1rem auto;
        }
      }
    }
    .right-side {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      & p:not(:last-child) {
        margin-right: 1rem;
      }
      p {
        border: solid 0.2rem $color-secondary-dark;
        // padding: 0.1rem;
        border-radius: 35%;
        // display: flex;
        // align-items: center;
        width: 5rem;
        height: 5rem;

        @include responsive(tab-mid) {
          margin: 1rem auto 0;
        }

        i {
          padding: 1.5rem;
          font-size: $h2;
          // border: solid 0.2rem $color-secondary-dark;
        }
      }
    }
  }
}
