#footer {
  background-color: $color-primary-dark;
  color: $color-primary;
  padding: 10rem 0;
  @include responsive(tab-mid) {
    padding: 10rem 0 1rem;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
    @include responsive(tab-mid) {
      flex-direction: column;
    }
    .left-side {
      flex: 0 1 72%;

      @include responsive(tab-mid) {
        text-align: center;
      }
      h2 {
        font-size: $h1;
        font-weight: 400;
      }
      .paragraph {
        p {
          font-size: $p;
          margin: 0.5rem 0;
          &:nth-last-child(1) {
            margin-top: 2.5rem;
            font-size: $h2;
            // background-color: yellow;
          }
        }
      }
      .success {
        display: flex;
        flex-direction: column;
        li {
          font-size: 1.4rem;
          list-style: none;
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }

      .icons {
        margin-top: 1rem;

        display: flex;
        justify-content: space-between;
        max-width: 15rem;
        font-size: $h2;
        list-style: none;
        @include responsive(tab-mid) {
          margin: 0 auto;
        }
        a {
          color: $color-primary;
          margin-right: 1.5rem;
        }
      }
    }
    .right-side {
      flex: 0 1 25%;
      margin-left: 1rem;
      @include responsive(tab-mid) {
        flex: 1 1 100%;
        text-align: center;
      }
      h2 {
        font-size: $h1;
        font-weight: 400;
        @include responsive(tab-mid) {
          margin: 1rem 0 0;
        }
      }
      p {
        margin: 1rem 0;
        font-size: $p;
        @include responsive(tab-mid) {
          margin: 0rem;
        }
      }
    }
  }
  .last {
    text-align: center;
    font-size: 1.2rem;
    @include responsive(tab-mid) {
      margin-top: 4rem;
    }
  }
}
