#header {
  .nav-bar {
    border-bottom: 0.1rem solid $color-primary;
    background-color: rgba($color-black, 0.5);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
    @include responsive(phone) {
      flex-direction: row-reverse;
    }
    .logo {
      padding: 1.5rem 0 0 2.5rem;

      @include responsive(tab-mid) {
        padding: 1.5rem 1rem 0 1rem;
      }

      @include responsive(phone) {
        padding: 1.3rem 2.5rem 0 0;
      }
    }
    .nav {
      .main-nav {
        display: flex;
        padding: 1.5rem 2.5rem;

        @include responsive(tab-mid) {
          padding: 1.5rem 1.5rem 1.5rem 0;
          font-size: 1.2rem;
        }
        @include responsive(phone) {
          display: none;
        }
        li {
          list-style: none;
          margin-right: 1.5rem;
          &:not(:first-child) {
            margin-left: 1.5rem;
          }
          @include responsive(tab-mid) {
            margin-right: 0;
            &:not(:first-child) {
              margin-left: 1.5rem;
            }
            &:nth-child(4) {
              display: none;
            }
          }
          a {
            font-size: $p;
            color: $color-primary;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
      .mobile-nav {
        display: none;
        @include responsive(phone) {
          position: absolute;
          top: 5rem;
          display: flex;
          padding: 1.5rem 0 1.5rem 2.5rem;
          flex-direction: column;
          background-color: rgba($color-black, 0.5);
          margin-top: 0.9rem;
          width: 100%;

          li {
            list-style: none;

            a {
              font-size: 1.8rem;

              color: $color-primary;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }
      @include responsive(phone) {
        .menu-bar {
          margin: 1.8rem 0 1.8rem 1.8rem;
          border-top: 0.4rem solid $color-primary;
          border-bottom: 0.4rem solid $color-primary;
          width: 3rem;
          padding: 0.5rem 0;
          display: flex;

          &::before {
            border-top: 0.4rem solid $color-primary;
            width: 100%;
            content: '';
          }
        }
      }
    }
  }
  .hero-section {
    background: linear-gradient(
        0deg,
        rgba($color-black, 0.4),
        rgba($color-black, 0.4)
      ),
      url('http://abwtechnologies.com/images/stars-bg.jpg') center center
        no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem;
      @include responsive(phone) {
        margin-bottom: 2rem;
      }
      .left-side {
        flex: 0 1 45%;
        @include responsive(tab-land) {
          flex: 0 1 51%;
        }
        @include responsive(tab-mid) {
          flex: 0 1 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
        }

        img {
          max-width: 65%;
          @include responsive(tab-mid) {
            max-width: 100%;
          }
        }
        h1 {
          color: $color-white;
          font-size: $h2;
          font-weight: 400;

          @include responsive(tab-land) {
            font-size: 2.2rem;
          }
          @include responsive(phone) {
            text-align: center;
            line-height: 2.5rem;
            margin: 1rem 0 0.5rem;
            font-size: $h2;
          }
        }
        p {
          color: $color-white;
          font-size: $p;
          text-align: left;
          line-height: 1.8;
          font-weight: 100;
          @include responsive(tab-land) {
            // font-size: 1.29rem;
          }

          @include responsive(tab-mid) {
            text-align: center;
            max-width: 80%;
            font-size: $p * 1.2;
          }
          @include responsive(phone) {
            max-width: 100%;
            font-size: $p;
          }
        }
      }
    }
    .right-side {
      flex: 0 1 45%;
      background-color: rgba($color-black, 0.5);
      padding: 1.5rem;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include responsive(tab-land) {
        flex: 0 1 48%;
      }
      @include responsive(tab-mid) {
        display: none;
      }

      p {
        color: $color-white;
        margin: 1rem 0 0 0;
        font-size: $p;
        text-align: center;
      }
      a {
        text-decoration: none;

        &:hover {
          .button {
            color: $color-white;
            background: $color-secondary-dark;
            transition: background-color 0.5s ease-in-out 0s,
              color 0.5s ease-in-out 0s;
          }
        }
        .button {
          margin: 2rem 0;
          align-self: center;
          padding: 0.2rem 15rem;
          color: $color-white;
          font-size: $p;
          border: $color-primary 0.1rem solid;
          border-radius: 0.3rem;
          transition: background-color 0.5s ease-in-out 0s,
            color 0.5s ease-in-out 0s;

          @include responsive(tab-land) {
            padding: 0.2rem 6rem;
          }
        }
      }
    }
    .fa-chevron-down {
      color: $color-primary;
      font-size: $h1;
    }
  }
}
