#my-latest-work {
  padding: 10rem 0;
  .heading {
    h2 {
      font-size: $h2;
      border-bottom: 0.1rem solid $color-black;
      max-width: 32rem;
      font-weight: 100;
      color: $color-primary-dark;
    }
    p {
      margin-top: 1rem;
      font-size: $p;
      color: $color-primary-dark;
    }
  }
  .row-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card-1 {
      margin: 2rem 0 0.3rem 0;
      display: flex;
      flex-direction: column;
      max-width: 23.5%;
      img {
        max-width: 100%;
      }
      p {
        border: 0.1rem solid $color-primary-light;
        border-top: 0rem;
        padding: 1.5rem;
        text-align: justify;
        line-height: 2rem;
        font-size: $p;
        min-height: 11rem;
      }
    }
  }
}
