#my-latest-work {
  padding: 10rem 0;
  @include responsive(phone) {
    padding: $padding 0;
  }
  .heading {
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
    h2 {
      font-size: $h1;
      border-bottom: 0.1rem solid $color-black;
      max-width: 32rem;
      font-weight: 100;
      color: $color-primary-dark;

      @include responsive(phone) {
        margin: 0 auto;
        text-align: center;
      }
    }
    p {
      margin-top: 1rem;
      font-size: $h2;
      color: $color-primary-dark;
      @include responsive(phone) {
        text-align: center;
      }
    }
  }
  .row-1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card-1 {
      transition: opacity 1s ease-in-out;
      opacity: 0;
      margin: 2rem 0 0.3rem 0;
      display: flex;
      flex-direction: column;
      max-width: 23.5%;
      border: 0.1rem solid $color-primary-light;

      @include responsive(tab-mid) {
        max-width: 48%;
      }
      @include responsive(phone) {
        max-width: 100%;
      }
      img {
        max-width: 100%;
      }
      p {
        border-top: 0rem;
        padding: 1.5rem;
        text-align: justify;
        line-height: 2rem;
        font-size: $p;
        // min-height: 11rem;
        @include responsive(tab-land) {
          // min-height: 15.1rem;
        }
        @include responsive(tab-mid) {
          // min-height: 17.1rem;
        }
        @include responsive(phone) {
          // min-height: 11rem;
          text-align: center;
        }
      }
    }
  }
}
