// RESponsive desgin beggins
// 1200px
@include responsive(tab-land) {
  .hero-section {
    .wrapper {
      .left-side {
        flex: 0 1 45%;
        img {
        }
        h1 {
          font-size: 2.1rem;
        }
        p {
          // max-width: 10%;
          font-size: 1.4rem;
          .name {
            display: block;
          }
        }
      }
      .right-side {
        flex: 0 1 45%;

        p {
          font-size: 1.4rem;
        }
        .button {
          padding: 0.2rem 6rem;
        }
      }
    }
  }
}

// 950px
@include responsive(tab-small) {
  .hero-section {
    .wrapper {
      .left-side {
        flex: 0 1 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        img {
          max-width: 100%;
        }
        h1 {
          font-size: 3.5rem;
        }
        p {
          font-size: $p-small;
          text-align: center;
          max-width: 70%;
          .name {
            display: block;
          }
        }
      }
      .right-side {
        display: none;
      }
    }
  }
}
// 800PX
@include responsive(tab-port-800) {
  .nav-bar {
    flex-direction: row-reverse;

    .logo {
      padding: 1.3rem 2.5rem 0 0;
    }

    .nav {
      .main-nav {
        display: none;
      }
      .mobile-nav {
        position: absolute;
        top: 5rem;
        display: flex;
        padding: 1.5rem 2.5rem;
        flex-direction: column;
        background-color: rgba($color-black, 0.5);
        margin-top: 0.9rem;
        width: 100%;
        li {
          list-style: none;
          margin: 0 1.5rem;
          a {
            font-size: $p-small;
            color: $color-primary;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
      .menu-bar {
        margin: 1.8rem 0 0 4rem;
        border-top: 0.5rem solid $color-primary;
        border-bottom: 0.5rem solid $color-primary;
        border-radius: 0.1rem;
        width: 3.5rem;
        padding: 0.5rem 0;
        display: flex;

        &::before {
          border-top: 0.5rem solid $color-primary;
          width: 100%;
          content: '';
          border-radius: 0.1rem;
        }
      }
    }
  }
  .hero-section {
    .wrapper {
      .left-side {
        img {
        }
        h1 {
        }
        p {
          font-size: 2rem;
          text-align: center;
          max-width: 65%;
        }
      }
      .right-side {
        display: none;
      }
    }
  }
}
// 704px
@include responsive(tab-port) {
  .hero-section {
    .wrapper {
      .left-side {
        img {
        }
        h1 {
          font-size: 3rem;
        }
        p {
          font-size: 2rem;
          max-width: 100%;
        }
      }
      .right-side {
      }
    }
  }
}

// 520px
@include responsive(phone) {
  .hero-section {
    .wrapper {
      .left-side {
        img {
        }
        h1 {
          font-size: 1.9rem;
        }
        p {
          max-width: 100%;
          font-size: 1.3rem;
          // background: yellow;
        }
      }
    }
  }
}

// Who Am I
// 704px
@include responsive(tab-port) {
  background: $color-primary-light;
  padding: 5rem 0;
  .wrapper {
    flex-direction: column;
    text-align: center;
    .left-side {
      // flex: 1 1 100%;
      // text-align: center;
      h2 {
        // text-align: center;
        margin: 0 auto;
        // font-size: $h2;
        // border-bottom: 0.1rem solid $color-white;
        // max-width: 32rem;
        // font-weight: 100;
        // color: $color-primary-dark;
      }
      .first-p {
        margin-top: 1.5rem;
        // font-size: $p;
        // color: $color-primary-dark;
      }
      .second-p {
        // margin-top: 0.5rem;
        // font-size: 1.4rem;
        // color: $color-primary-dark;
        margin: 1.5rem auto;
        max-width: 92%;
        text-align: center;
      }
      a {
        // color: $color-primary;
        // text-decoration: none;
        // cursor: pointer;
        // transition: color 0.5s ease-in-out;

        &:hover {
          // color: $color-secondary-dark;
          // transition: color 0.5s ease-in-out;
          .button {
            // background: none;
            // transition: background-color 0.5s ease-in-out;
          }
        }
        .button {
          margin: 0 auto;
        }
      }
    }
    .right-side {
      border: none;
      // flex: 1 1 100%;
      max-width: 100%;
      img {
        width: 100%;
      }
    }
  }
}

// My Lattest WOrk
// 1200px
@include responsive(tab-land) {
  .row-1 {
    .card-1 {
      img {
      }
      p {
        min-height: 15.1rem;
        // background-color: yellow;
      }
    }
  }
}
// 1000px
@include responsive(tab-mid) {
  .row-1 {
    .card-1 {
      img {
      }
      p {
        // min-height: 18rem;
        // background-color: red;
      }
    }
  }
}
// 950px
@include responsive(tab-small) {
  .row-1 {
    .card-1 {
      img {
      }
      p {
        min-height: 17.1rem;
        // background-color: green;
      }
    }
  }
}
// 800px
@include responsive(tab-port-800) {
  .row-1 {
    .card-1 {
      img {
      }
      p {
        min-height: 14.9rem;
      }
    }
  }
}
// 704px
@include responsive(tab-port) {
  .heading {
    h2 {
      text-align: center;
      margin: 0 auto;
    }
    p {
      text-align: center;
    }
  }
  .row-1 {
    .card-1 {
      max-width: 48%;
      img {
      }
      p {
        border: 0.1rem solid $color-primary-light;
        border-top: 0rem;
        line-height: 2rem;
        min-height: 11rem;
      }
    }
  }
}
// 520px
@include responsive(phone) {
  .heading {
    h2 {
    }
    p {
    }
  }
  .row-1 {
    .card-1 {
      max-width: 100%;
      img {
      }
      p {
        text-align: center;
        line-height: 2.8rem;
        min-height: 4rem;
      }
    }
  }
}

//   technological skills

// phone 520px
@include responsive(tab-port) {
  .wrapper {
    h2 {
    }
    .main-paragraph {
    }
    .flex {
      p {
        &:nth-last-child(1n + 1) {
          flex: 0 1 49.5%;
          // background: blue;
        }
        &:last-child {
          flex: 0 1 100%;
        }

        &:nth-child(3) {
          flex: 0 1 74.5%;
        }
        &:nth-child(4) {
          flex: 0 1 24.5%;
        }
      }
    }
  }
}

// Connect with me

@include responsive(tab-port-800) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .left-side {
      h2 {
        text-align: center;
        margin: 0 auto 1rem;
      }
      p {
        text-align: center;
        margin: 1rem auto;
      }
    }
    .right-side {
      & p:not(:last-child) {
      }
      p {
        text-align: center;
        margin: 1rem auto 0;
        i {
        }
      }
    }
  }
}
