#technological-skills {
  background: $color-primary-light;
  padding: 10rem 0;
  .wrapper {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    h2 {
      max-width: 32rem;
      font-size: $h1;
      border-bottom: 0.1rem solid $color-white;
      font-weight: 100;
      color: $color-primary-dark;
      text-align: center;
      flex: 0 0 100%;
    }
    .main-paragraph {
      margin: 1rem;
      font-size: $h2;
      flex: 0 0 100%;
      text-align: center;
    }
    .flex {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;
      justify-content: space-between;
      p {
        text-align: center;
        font-size: $p;
        background: $color-secondary-dark;
        border: 0.1rem solid $color-secondary-dark;
        border-radius: 0.3rem;
        padding: 0.5rem 0;
        color: $color-white;
        flex: 0 1 33%;
        margin-top: 1rem;
        &:last-child {
          flex: 0 1 100%;
        }
        &:nth-child(7),
        &:nth-child(8) {
          flex: 0 1 49.5%;
        }
        &:nth-child(10),
        &:nth-child(11) {
          flex: 0 1 16%;
        }
        @include responsive(phone) {
          &:nth-last-child(1n + 1) {
            flex: 0 1 49.5%;
          }
          &:last-child {
            flex: 0 1 100%;
          }

          &:nth-child(3) {
            flex: 0 1 74.5%;
          }
          &:nth-child(4) {
            flex: 0 1 24.5%;
          }
        }
      }
    }
  }
}
