#testimonials {
  padding: 10rem 0;
  .wrapper {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    .top {
      flex: 1 1 100%;
      justify-content: center;
      text-align: center;
      h2 {
        margin: 0 auto;
        max-width: 32rem;
        font-size: $h2;
        border-bottom: 0.1rem solid $color-primary-dark;
        font-weight: 100;
        color: $color-primary-dark;
        flex: 0 0 100%;
      }
      p {
        display: block;
        margin-top: 1rem;
        font-size: 1.2rem;
      }
    }
    .content {
      border-left: 0.1rem black solid;
      margin-top: 2rem;
      flex: 1 1 100%;

      text-align: center;
      display: flex;
      //   background: yellow;

      justify-content: center;
      .paragraph {
        // background: blue;

        p {
          font-size: $p;
        }
        .name {
          margin-top: 0.5rem;
          display: block;
        }
      }
    }
    #bullets {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .bullets {
        margin: 1rem 0.5rem 0;
        background-color: $color-secondary-dark;
        padding: 0.1rem;
        border: solid 0.3rem $color-secondary-dark;
        border-radius: 50%;
      }
    }
  }
}
