#who-am-i {
  background: $color-primary-light;
  padding: 10rem 0;
  @include responsive(phone) {
    padding: $padding 0;
  }

  .wrapper {
    display: flex;
    justify-content: space-around;
    @include responsive(tab-mid) {
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
    .left-side {
      flex: 0 1 50%;
      margin-right: 1rem;
      h2 {
        font-size: $h1;
        border-bottom: 0.1rem solid $color-white;
        max-width: 32rem;
        font-weight: 100;
        color: $color-primary-dark;
        @include responsive(tab-mid) {
          margin: 0 auto;
        }
      }
      .first-p {
        margin-top: 1rem;
        font-size: $h2;
        color: $color-primary-dark;
        @include responsive(tab-mid) {
          margin-top: 1.5rem;
        }
      }
      .second-p {
        margin-top: 0.5rem;
        font-size: $p;
        color: $color-primary-dark;
        @include responsive(tab-mid) {
          margin: 1.5rem auto;
          max-width: 92%;
          text-align: center;
        }
      }
      a {
        color: $color-primary;
        text-decoration: none;
        cursor: pointer;
        transition: color 0.5s ease-in-out;

        &:hover {
          color: $color-secondary-dark;
          transition: color 0.5s ease-in-out;

          .button {
            background: none;
            transition: background-color 0.5s ease-in-out;
          }
        }
        .button {
          margin-top: 1rem;
          background: $color-secondary-dark;

          padding: 0.6rem;
          width: 50%;
          text-align: center;
          border: 0.1rem solid $color-secondary-dark;
          border-radius: 0.3rem;
          font-size: $p;
          transition: background-color 0.5s ease-in-out;
          @include responsive(tab-mid) {
            margin: 0 auto;
          }
        }
      }
    }
    .right-side {
      border: 0.5rem $color-secondary-dark solid;
      flex: 0 1 50%;

      border-radius: 1rem;

      max-width: 100%;

      @include responsive(tab-mid) {
        border: none;
      }
      img {
        width: 100%;
      }
    }
  }
}
