#why-work-with-me {
  background: $color-primary-light;
  padding: 10rem 0;
  .wrapper {
    display: flex;

    flex-direction: column;
    align-items: center;
    .top {
      text-align: center;
      h2 {
        max-width: 32rem;
        font-size: $h2;
        border-bottom: 0.1rem solid $color-white;
        font-weight: 100;
        color: $color-primary-dark;
        text-align: center;
        flex: 0 0 100%;
      }
      p {
        margin-top: 1rem;
        font-size: 1.2rem;
      }
    }
    .info-section {
      margin-top: 3rem;
      display: flex;
      justify-content: space-between;
      .card {
        flex: 0 1 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        div {
          i {
            font-size: 3rem;
            color: $color-secondary-dark;
          }
        }
        h3 {
          font-size: 2rem;
          font-weight: 100;
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  @include responsive(tab-small) {
    .wrapper {
      .top {
        h2 {
          // max-width: 60%;
          margin: 0 auto;
          // font-size: $h2;
        }
        p {
          // max-width: 60%;
          font-size: $p;
          margin: 0 auto;
        }
      }
      .info-section {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card {
          margin: 2rem 0;
          // max-width: 60%;

          justify-content: center;

          div {
            i {
              font-size: 3rem;
              color: $color-secondary-dark;
            }
          }
          h3 {
            font-size: 2rem;
            font-weight: 100;
          }
          p {
            font-size: $p;
          }
        }
      }
    }
  }
}
