.container {
  max-width: 110rem;
  margin: 0 auto;
}
.u-wrapper-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-wrapper {
  display: flex;
  max-width: 110rem;
}

.u-side {
  flex: 0 1 50%;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}
